* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  font-size: 22px;
  margin: 0;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 26px;
}

h5 {
  font-size: 18px;
  padding: 15px;
}

h2, h4 {
  padding: 10px;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header .nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav span {
  text-decoration: underline;
  padding: 10px;
}

.jumbo {
  display: flex;
  width: 1200px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

#mission {
  height: 700px;
  background-image: url("../resources/images/img-mission-background.jpg");
  top: 70px;
  margin-bottom: 140px;
}

#locations {
  height: 500px;
  background-image: url("../resources/images/img-locations-background.jpg");
  margin-top: 50px;
  flex-wrap: wrap;
}

#locations h2 {
  background-color: transparent;
  height: auto;
  padding: 0;
  position: absolute;
  bottom: 415px;
}

.textbox {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.picbox {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}

.picbox img {
  height: 200px;
  width: 300px;
  margin: 25px 0 10px 0;
}

.menu {
  display: flex;
  width: 1050px;
  margin: auto;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.locbox {
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: space-around;
  margin: 15px 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

footer {
  text-align: left;
  width: 100%;
  padding-left: 20px;
}
